@model MinorityDashboardWeb.Models.DistrictAdminModel
@{
    ViewBag.Title = "DeskData";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    decimal CAmtTotal = 0;
    decimal SAmtTotal = 0;

}

@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">*@
@*<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">*@




<style type="text/css">


    .nav-tabs-custom {
        margin-bottom: 20px;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border-radius: 3px;
    }

    .nav nav-tabs {
        margin: 0;
        border-bottom-color: #f4f4f4;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

        .nav nav-tabs li {
            border-top: 3px solid transparent;
            border-top-color: transparent;
            margin-bottom: 0px;
            margin-right: 5px;
            border-top-color: #3c8dbc;
        }

            .nav nav-tabs li a {
                position: relative;
                display: block;
                padding: 10px 15px;
            }

    .activetab {
        background-color: #f9dfb3;
    }
</style>


<div class="container-fluid">

    <div class="nav-tabs-custom">
        <ul class="nav " id="ulclr">
            <li class="btnxxx "><a href="#fa-icons" data-toggle="tab" class="btn btn-info">Insert Data</a></li>
            <li class="btnxxx"><a href="#glyphicons" data-toggle="tab" class="btn btn-info">View Data</a></li>
        </ul>
        <div class="tab-content">
            <!-- Font Awesome Icons -->
            <div class="tab-pane active" id="fa-icons">
                <div class="card-header">Desk Data</div>

                @using (Html.BeginForm("DeskData", "Admin", FormMethod.Post, new { @id = "myform", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                   
                    @Html.HiddenFor(s => s.id)

                    <div class="card-body">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputName">District<span class="req">*</span></label>
                                    @Html.DropDownListFor(s => s.des_id, Model.lstDistrict, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.des_id)
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputName">Financil Year<span class="req">*</span></label>

                                    @Html.DropDownListFor(s => s.fin_y_id, Model.lstFinancialYear, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fin_y_id)
                                </div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <label for="exampleInputName">Main Scheme<span class="req">*</span></label>
                                    @Html.DropDownListFor(s => s.parent_scheme_id, Model.ddlParentScheme, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.parent_scheme_id)
                                </div>
                                <div class="col-md-3">
                                    <label for="exampleInputName">Scheme Child1<span class="req">*</span></label>
                                    @Html.DropDownListFor(s => s.scheme_id_child1, Model.ddlChildScheme1, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.scheme_id_child1)
                                </div>
                                <div class="col-md-3">
                                    <label for="exampleInputName">Scheme Child2<span class="req">*</span></label>
                                    @Html.DropDownListFor(s => s.scheme_id_child2, Model.ddlChildScheme2, new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <label for="exampleInputName">Scheme Child3<span class="req">*</span></label>
                                    @Html.DropDownListFor(s => s.scheme_id_child3, Model.ddlChildScheme3, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <label for="exampleInputName">Implementation Agency<span class="req">*</span></label>

                                    @Html.DropDownListFor(s => s.imp_agency_id, Model.lstImplementationAgency, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.imp_agency_id)
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInputName">Budgetary Provision Amount<span class="req">*</span></label>

                                    @Html.TextBoxFor(model => model.budgetary_provision_amt, new { @class = "form-control", id = "budgetary_provision_amt", placeholder = "Budgetary Provision Amount" })
                                    @Html.ValidationMessageFor(model => model.budgetary_provision_amt)
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInputName">Actual Allocation Amount<span class="req">*</span></label>

                                    @Html.TextBoxFor(model => model.actual_allocation_amt, new { @class = "form-control", id = "actual_allocation_amt", placeholder = "Actual Allocation Amount" })
                                    @Html.ValidationMessageFor(model => model.actual_allocation_amt)
                                </div>

                                @*<div class="col-md-3">
                                        <label for="exampleInputName">Actual Expenditure Amount</label>

                                        @Html.TextBoxFor(model => model.actual_expenditure_amt, new { @class = "form-control", id = "actual_expenditure_amt", placeholder = "Actual Expenditure Amount" })

                                    </div>
                                    <div class="col-md-3">
                                        <label for="exampleInputName">Actual Remaining Amount</label>

                                        @Html.TextBoxFor(model => model.actual_remaining_amt, new { @class = "form-control", id = "actual_remaining_amt", placeholder = "Actual Remaining Amount" })

                                    </div>*@

                            </div>
                        </div>




                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-6">
                                    <label for="exampleInputName"></label>

                                    @if (Model.id > 0)
                                    {
                                        <input type="submit" value="Update" class="btn btn-info btn-block" style="margin-top:7px;background-color: #e4670b;width: 50%;float: right;" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Save" class="btn btn-info btn-block" style="margin-top:7px; width: 50%;float: right;" />
                                    }
                                </div>
                                <div class="col-md-6">
                                    <a href=@Url.Action("DeskData","Admin") style="margin-top:7px;width: 50%;float: left;" class="btn btn-info btn-block">Cancel</a>
                                </div>

                            </div>
                        </div>


                    </div>

                }
            </div>
            <!-- /#fa-icons -->
            <!-- glyphicons-->
            <div class="tab-pane" id="glyphicons">
                <div class="card-header">
                    <i class="fa fa-table"></i> Desk View
                </div>
                <div class="">

                    <div>
                    @Html.Partial("_ExportButtonPartial")
                        </div>

                    <div class="card-body">
                        <div class="table-responsive" id="Grid">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>

                                        <th>District Name</th>
                                        <th>Parent Scheme</th>
                                        <th>Child Sch1</th>
                                        <th>Budgetary Provision</th>
                                        <th>Actual Allocation</th>

                                        <th>Action</th>

                                    </tr>
                                </thead>


                                <tbody>

                                    @foreach (var X in Model.lstSchemeAmountAllocation)
                                    {
                                        CAmtTotal = CAmtTotal + Convert.ToDecimal(X.budgetary_provision_amt);
                                        SAmtTotal = SAmtTotal + Convert.ToDecimal(X.actual_allocation_amt);
                                        //   ExpendAmtTotal = ExpendAmtTotal + Convert.ToDecimal(X.actual_expenditure_amt);
                                        // ActualAmtTotal = ActualAmtTotal + Convert.ToDecimal(X.actual_remaining_amt);

                                        <tr>

                                            <td style="border: 1px solid #728590;">@X.des_name</td>

                                            <td style="border: 1px solid #728590;">@X.parent_schemename_e</td>
                                            <td style="border: 1px solid #728590;">@X.child1_schemename_e</td>

                                            <td style="border: 1px solid #728590;">@X.budgetary_provision_amt</td>
                                            <td style="border: 1px solid #728590;">@X.actual_allocation_amt</td>

                                            <td>
                                                <a href="@Url.Action("EditDeskTrans", "Admin",new { id = X.id })" title="Edit">
                                                    <i class="fa fa-edit btn_ico"></i>

                                                </a>

                                                @*<a href="@Url.Action("DeletDeskTrans", "Admin",new { id = X.id })" onclick="return confirm('Are you sure?');" title="Delete">
                                            <i class="fa fa-trash btn_ico"></i>

                                        </a>*@

                                                @*@Html.ActionLink("Edit", "EditDeskTrans", new { id = X.id })  |  @Html.ActionLink("Delete", "DeletDeskTrans", new { id = X.id })*@
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot style="background-color: #e7e4e1;">
                                    <tr>
                                        <td> <b>Total</b> </td>

                                        <td> </td>
                                        <td> </td>
                                        <td> <b>@CAmtTotal</b> </td>
                                        <td><b> @SAmtTotal</b> </td>
                                        <td></td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /#ion-icons -->
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
    <!-- /.col -->
</div>



<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("ulclr");
    var btns = header.getElementsByClassName("btnxxx");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("activetab");
            current[0].className = current[0].className.replace(" activetab", "");
            this.className += " activetab";
        });
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#actual_expenditure_amt").keyup(function () {
            var actual_alloc_amt = $("#actual_allocation_amt").val();
            var actual_exp_amt = $("#actual_expenditure_amt").val();

            var actual_rem_amt = $("#actual_remaining_amt").val();

            if (actual_alloc_amt != "" && actual_alloc_amt > 0 && actual_alloc_amt > actual_exp_amt) {

                //$("#actual_remaining_amt").value = 0;
                if (actual_exp_amt != "")
                    $('#actual_remaining_amt').val((parseFloat(actual_alloc_amt) - parseFloat(actual_exp_amt)).toString());
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
        $("#parent_scheme_id").on("change", function () {
            $(".modal1212").show();
            $.ajax(
                {
                    url: '/Base/ParentChange?PSchemeid=' + $("#parent_scheme_id").val(),
                    type: 'POST',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";

                        $("#scheme_id_child2").html(markup).show();
                        $("#scheme_id_child3").html(markup).show();

                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#scheme_id_child1").html(markup).show();
                        $(".modal1212").hide();
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });


        $("#scheme_id_child1").on("change", function () {
            $(".modal1212").show();
            $.ajax(
                {
                    url: '/Base/ChildChange1?ChildSchemeid1=' + $("#scheme_id_child1").val(),
                    type: 'POST',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";

                        $("#scheme_id_child3").html(markup).show();
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#scheme_id_child2").html(markup).show();
                        $(".modal1212").hide();
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });

        $("#scheme_id_child2").on("change", function () {
            $(".modal1212").show();
            $.ajax(
                {
                    url: '/Base/ChildChange2?ChildSchemeid2=' + $("#scheme_id_child2").val(),
                    type: 'POST',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#scheme_id_child3").html(markup).show();
                        $(".modal1212").hide();
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });

    });
</script>



@*@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
        }*@



@*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.js"></script>*@






