@model MinorityDashboardWeb.Models.LatestNews
@{
    ViewBag.Title = "LatestNews";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card mx-1 mt-12">
    <div class="card-header">Latest News</div>
    <div class="card-body">
        @using (Html.BeginForm("LatestNews", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(s => s.latest_news_id)

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="latest_news_e">News Title English</label>
                        @Html.TextBoxFor(model => model.latest_news_e, new { @class = "form-control", placeholder = "News Title English" })

                    </div>

                    <div class="col-md-6">
                        <label for="latest_news_m">News Title Marathi</label>
                        @Html.TextBoxFor(model => model.latest_news_m, new { @class = "form-control", placeholder = "News Title Marathi" })

                    </div>

                    <div class="col-md-6">
                        <label for="news_description_e">News Description English</label>
                        @Html.TextAreaFor(model => model.news_description_e, new { @class = "form-control", placeholder = "News Description English", id = "news_description_e", name = "news_description_e", rows = "10", cols = "80" })

                    </div>
                    <div class="col-md-6">
                        <label for="news_description_m">News Description Marathi</label>
                        @Html.TextAreaFor(model => model.news_description_m, new { @class = "form-control", placeholder = "News Description Marathi", id = "news_description_m", name = "news_description_m", rows = "10", cols = "80" })

                    </div>

                    <div class="col-md-6">
                        <label for="news_date">News Date</label>
                        @Html.TextBoxFor(model => model.news_date, new { @class = "form-control", placeholder = "News Date" })

                    </div>
                    <div class="col-md-1" style="margin-top:3%">
                        <label for="exampleInputName">Is Active</label>

                    </div>
                    <div class="col-md-1" style="margin-top:3.5%">

                        @Html.CheckBoxFor(model => model.isactive, new { @class = "form-control", id = "is_active" })
                    </div>


                </div>
            </div>

            <div class="form-group">
                <div class="form-row">

                    <div class="col-md-6">
                        <label for="exampleInputName"></label>

                        @if (Model.latest_news_id > 0)
                        {
                            <input type="submit" value="Update" class="btn btn-primary btn-block" style="margin-top:7px;background-color: #e4670b;width: 50%;float: right;" />
                        }
                        else
                        {
                            <input type="submit" value="Save" class="btn btn-primary btn-block" style="margin-top:7px; width: 50%;float: right;" />
                        }
                    </div>
                    <div class="col-md-6">
                        <a href=@Url.Action("LatestNews","Admin") style="margin-top:7px;width: 50%;float: left;" class="btn btn-primary btn-block">Cancel</a>
                    </div>
                </div>
            </div>

        }


    </div>
</div>

<br /> <br />

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> News View
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>News ID</th>
                        <th>Title English</th>
                        <th>Title Hindi</th>
                        <th>Action</th>

                    </tr>
                </thead>

                <tbody>
                    @if (Model.lstLatestNews != null)
                    {

                        foreach (var X in Model.lstLatestNews)
                        {

                            <tr>
                                <td>@X.latest_news_id </td>
                                <td>@X.news_e</td>
                                <td>@X.news_m</td>
                                <td>@Html.ActionLink("Edit", "EditLatestNews", new { id = X.latest_news_id })  |  
                                @Html.ActionLink("Delete", "DeleteLatestNews", new { id = X.latest_news_id }, new { onclick = "return confirm('Are you sure?');" }) 
                                                                 
                                </td>

                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    function myFunction() {
        var txt;
        var r = confirm("Press a button!\nEither OK or Cancel.\nThe button you pressed will be displayed in the result window.");
        if (r == true) {
            txt = "You pressed OK!";
        } else {
            txt = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = txt;
    }
</script>
<script type="text/javascript">
    $(function () {
        $('#news_date').datepicker({
            changeMonth: true,
            changeYear: true,
            language: "tr"
        });
    });
</script>

<script src="../../Admin_Assets/vendor/ckeditor/ckeditor.js"></script>
<script>
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('news_description_m')
        CKEDITOR.replace('news_description_e')
        //bootstrap WYSIHTML5 - text editor

    })
</script>