@model MinorityDashboardWeb.Models.SchemeModel
@{
    /**/

    ViewBag.Title = "SchemeDescriptionMaster";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    .activetab {
        background-color: #f9dfb3;
    }
</style>


@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />*@

<div class="card mx-1 mt-12">

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" id="ulclr">
            <li class="btnxxx activetab"><a href="#fa-icons" data-toggle="tab" class="btn btn-info">Insert Data</a></li>
            <li class="btnxxx"><a href="#glyphicons" data-toggle="tab" class="btn btn-info">View Data</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="fa-icons">
                <div class="card-header">Scheme Description Master</div>
                @using (Html.BeginForm("SchemeDescriptionMaster", "Admin", FormMethod.Post, new { id = "myform" }))
                {
                    @Html.HiddenFor(s => s.scheme_des_id)
                    <div class="card-body">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputName">Parent Scheme</label>
                                    @Html.DropDownListFor(s => s.parent_scheme_id, Model.ddlParentScheme, new { @class = "form-control" })

                                </div>
                                <div class="col-md-6">

                                    <label for="exampleInputName">Scheme Child1</label>
                                    @Html.DropDownListFor(s => s.scheme_id_child1, Model.ddlChildScheme1, new { @class = "form-control" })

                                    @*<select class="form-control" data-val="true" data-val-number="The field scheme_id_child1 must be a number." data-val-required="The scheme_id_child1 field is required." id="scheme_id_child1" name="scheme_id_child1">
                                            <option selected="selected" value="0">Select</option>
                                        </select>*@


                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputName">Scheme Child2</label>
                                    @Html.DropDownListFor(s => s.scheme_id_child2, Model.ddlChildScheme2, new { @class = "form-control" })

                                </div>
                                <div class="col-md-6">

                                    <label for="exampleInputName">Scheme Child3</label>
                                    @Html.DropDownListFor(s => s.scheme_id_child3, Model.ddlChildScheme3, new { @class = "form-control" })


                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-12">
                                    <label for="exampleInputName">Scheme Description English</label>
                                    @Html.TextAreaFor(model => model.scheme_description_e, new { @class = "form-control", id = "scheme_description_e", placeholder = "Enter Description English", name = "scheme_description_e", rows = "10", cols = "80" })

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-12">
                                    <label for="exampleInputName">Scheme Description Marathi</label>
                                    @Html.TextAreaFor(model => model.scheme_description_m, new { @class = "form-control", id = "scheme_description_m", placeholder = "Enter Description Marathi", name = "scheme_description_m", rows = "10", cols = "80" })

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-6">
                                    <label for="exampleInputName"></label>

                                    @if (Model.scheme_des_id > 0)
                                    {
                                        <input type="submit" value="Update" class="btn btn-info btn-block" style="margin-top:7px;background-color: #e4670b;width: 50%;float: right;" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Save" class="btn btn-info btn-block" style="margin-top:7px; width: 50%;float: right;" />
                                    }
                                </div>
                                <div class="col-md-6">
                                    <a href=@Url.Action("SchemeMaster", "Admin") style="margin-top:7px;width: 50%;float: left;" class="btn btn-info btn-block">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="tab-pane" id="glyphicons">
                <div class="card-header">Scheme Description View</div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Scheme DescId</th>
                                    <th>Schemes</th>
                                    <th>Child Schemes1</th>
                                    <th>Child Schemes2</th>
                                    <th>Child Schemes3</th>
                                    <th>Desc English</th>
                                    <th>Desc Marathi</th>

                                    <th>Action</th>


                                </tr>
                            </thead>

                            <tbody>


                                @foreach (var X in Model.lstSchemeDesc)
                                {

                                    <tr>
                                        <td>@X.scheme_des_id   </td>
                                        <td>@X.parent_schemename_m  </td>
                                        <td>@X.child1_schemename_m  </td>
                                        <td>@X.child2_schemename_m  </td>
                                        <td>@X.child3_schemename_m  </td>



                                        <td>
                                            <div id="ex1" class="modal123" style="font-size: 15px;">
                                                @Html.Raw(X.scheme_description_e)
                                                @*<a href="#" rel="modal:close">Close</a>*@
                                            </div>

                                            <!-- Link to open the modal -->
                                            <p><a href="#ex1" rel="modal:open" title="View Scheme Description in English"><i class="fa fa-eye btn_ico"></i></a></p>




                                        </td>
                                        <td>
                                            <div id="ex2" class="modal123" style="font-size: 15px;">
                                                <p>@Html.Raw(X.scheme_description_m)</p>
                                                @*<a href="#" rel="modal:close">Close</a>*@
                                            </div>

                                            <!-- Link to open the modal -->
                                            <p><a href="#ex2" rel="modal:open" title="View Scheme Description in Marathi"><i class="fa fa-eye btn_ico"></i></a></p>

                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditSchemeDesc", "Admin",new { id = X.scheme_des_id })" title="Edit Scheme">
                                                <i class="fa fa-edit btn_ico"></i>

                                            </a>

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>



<script src="../../Admin_Assets/vendor/ckeditor/ckeditor.js"></script>
<script>
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('scheme_description_e');
        CKEDITOR.replace('scheme_description_m');



        //bootstrap WYSIHTML5 - text editor

    })
</script>

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("ulclr");
    var btns = header.getElementsByClassName("btnxxx");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("activetab");
            current[0].className = current[0].className.replace(" activetab", "");
            this.className += " activetab";
        });
    }
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
        $("#parent_scheme_id").on("change", function () {
            $(".modal1212").show();
            $.ajax(
                {
                    url: '/Base/ParentChange?PSchemeid=' + $("#parent_scheme_id").val(),
                    type: 'POST',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";

                        $("#scheme_id_child2").html(markup).show();
                        $("#scheme_id_child3").html(markup).show();

                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#scheme_id_child1").html(markup).show();
                        $(".modal1212").hide();
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });


        $("#scheme_id_child1").on("change", function () {
            $(".modal1212").show();
            $.ajax(
                {
                    url: '/Base/ChildChange1?ChildSchemeid1=' + $("#scheme_id_child1").val(),
                    type: 'POST',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";

                        $("#scheme_id_child3").html(markup).show();
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#scheme_id_child2").html(markup).show();
                        $(".modal1212").hide();
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });

        $("#scheme_id_child2").on("change", function () {
            $(".modal1212").show();
            $.ajax(
                {
                    url: '/Base/ChildChange2?ChildSchemeid2=' + $("#scheme_id_child2").val(),
                    type: 'POST',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#scheme_id_child3").html(markup).show();
                        $(".modal1212").hide();
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });

    });
</script>
