@model MinorityDashboardWeb.Models.SchemeModel
@{
                /**/

                ViewBag.Title = "SchemeDescriptionMaster";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card mx-1 mt-12">

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" id="ulclr">
            <li class="btnxxx activetab"><a href="#fa-icons" data-toggle="tab" style="position: relative;display: block;padding: 10px 15px;">Insert Data</a></li>
            <li class="btnxxx"><a href="#glyphicons" data-toggle="tab" style="position: relative;display: block; padding: 10px 15px;">View Data</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="fa-icons">
                <div class="card-header">Scheme Description Master</div>
                @using (Html.BeginForm("SchemeDescriptionMaster", "Admin", FormMethod.Post, new { id = "myform" }))
                {
                    @Html.HiddenFor(s => s.scheme_id)
                    <div class="card-body">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputName">Parent Scheme</label>
                                    @Html.DropDownListFor(s => s.parent_scheme_id, Model.ddlParentScheme, new { @class = "form-control" })

                                </div>
                                <div class="col-md-6">

                                    <label for="exampleInputName">Scheme Child1</label>
                                    @Html.DropDownListFor(s => s.scheme_id_child1, Model.ddlChildScheme1, new { @class = "form-control" })

                                    @*<select class="form-control" data-val="true" data-val-number="The field scheme_id_child1 must be a number." data-val-required="The scheme_id_child1 field is required." id="scheme_id_child1" name="scheme_id_child1">
                                            <option selected="selected" value="0">Select</option>
                                        </select>*@


                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="exampleInputName">Parent Scheme</label>
                                    @Html.DropDownListFor(s => s.scheme_id_child2, Model.ddlChildScheme2, new { @class = "form-control" })

                                </div>
                                <div class="col-md-6">

                                    <label for="exampleInputName">Scheme Child1</label>
                                    @Html.DropDownListFor(s => s.scheme_id_child3, Model.ddlChildScheme3, new { @class = "form-control" })


                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-12">
                                    <label for="exampleInputName">Scheme Description English</label>
                                    @Html.TextAreaFor(model => model.scheme_description_e, new { @class = "form-control", id = "scheme_description_e", placeholder = "Enter Description English", name = "scheme_description_e", rows = "10", cols = "80" })

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-12">
                                    <label for="exampleInputName">Scheme Description Marathi</label>
                                    @Html.TextAreaFor(model => model.scheme_description_m, new { @class = "form-control", id = "scheme_description_m", placeholder = "Enter Description Marathi", name = "scheme_description_m", rows = "10", cols = "80" })

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-6">
                                    <label for="exampleInputName"></label>

                                    @if (Model.scheme_id > 0)
                                    {
                                        <input type="submit" value="Update" class="btn btn-primary btn-block" style="margin-top:7px;background-color: #e4670b;width: 50%;float: right;" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="Save" class="btn btn-primary btn-block" style="margin-top:7px; width: 50%;float: right;" />
                                    }
                                </div>
                                <div class="col-md-6">
                                    <a href=@Url.Action("SchemeMaster", "Admin") style="margin-top:7px;width: 50%;float: left;" class="btn btn-primary btn-block">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="tab-pane" id="glyphicons">
                <div class="card-header">Scheme Description View</div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Scheme DescId</th>
                                    <th>Schemes</th>
                                    <th>Child Schemes1</th>
                                    <th>Child Schemes2</th>
                                    <th>Child Schemes3</th>
                                    <th>Scheme Desc MR</th>
                                    <th>Scheme Desc EN</th>


                                </tr>
                            </thead>

                            <tbody>


                                @foreach (var X in Model.lstSchemeDesc)
                                {

                                    <tr>
                                        <td>@X.scheme_des_id   </td>
                                        <td>@X.parent_schemename_m  </td>
                                        <td>@X.child1_schemename_m  </td>
                                        <td>@X.child2_schemename_m  </td>
                                        <td>@X.child3_schemename_m  </td>



                                        <td>
                                            <a href="#" data-toggle="modal" data-target='#@X.scheme_des_id'>Secheme Desc </a>

                                            <a href="#@X.scheme_des_id" class="btn scheme"><i class="fas fa-angle-right fa-lg"></i> Secheme Desc </a>
                                            <div id=@X.scheme_des_id class="overlay">
                                                <div class="popup">
                                                    <h3>@X.parent_schemename_m</h3>
                                                    <a class="close" href="#">×</a>
                                                    <div class="content">
                                                        @Html.Raw(X.scheme_description_m)
                                                    </div>

                                                </div>
                                            </div>


                                            @*<div class="modal fade" id=@X.scheme_des_id role="dialog">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">@X.parent_schemename_m</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                @Html.Raw(X.scheme_description_e)
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="popover" title="Popover Header" data-content='@X.scheme_description_m'>Secheme Desc </a>

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@



<script src="../../Admin_Assets/vendor/ckeditor/ckeditor.js"></script>
<script>
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('scheme_description_e');
        CKEDITOR.replace('scheme_description_m');



        //bootstrap WYSIHTML5 - text editor

    })
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
        $("#parent_scheme_id").on("change", function () {
            $(".modal1212").show();
            $.ajax(
                {
                    url: '/Base/ParentChange?PSchemeid=' + $("#parent_scheme_id").val(),
                    type: 'POST',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";

                        $("#scheme_id_child2").html(markup).show();
                        $("#scheme_id_child3").html(markup).show();

                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#scheme_id_child1").html(markup).show();
                        $(".modal1212").hide();
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });


        $("#scheme_id_child1").on("change", function () {
            $(".modal1212").show();
            $.ajax(
                {
                    url: '/Base/ChildChange1?ChildSchemeid1=' + $("#scheme_id_child1").val(),
                    type: 'POST',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";

                        $("#scheme_id_child3").html(markup).show();
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#scheme_id_child2").html(markup).show();
                        $(".modal1212").hide();
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });

        $("#scheme_id_child2").on("change", function () {
            $(".modal1212").show();
            $.ajax(
                {
                    url: '/Base/ChildChange2?ChildSchemeid2=' + $("#scheme_id_child2").val(),
                    type: 'POST',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#scheme_id_child3").html(markup).show();
                        $(".modal1212").hide();
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });

    });
</script>
