@model MinorityDashboardWeb.Models.SchemeAmtAllotment
@{
    ViewBag.Title = "SechemeAmountAllotment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="tab-content">
    <!-- Font Awesome Icons -->
    <div class="tab-pane active" id="fa-icons">
        <div class="card-header">Scheme Amount Allotment</div>

        @using (Html.BeginForm("SechemeAmountAllotment", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            <div class="card-body">


                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">Scheme Name</label>

                            @Html.DropDownListFor(s => s.parent_scheme_id, Model.ddlParentScheme, new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputName">Financial Year</label>
                            @Html.DropDownListFor(s => s.fin_y_id, Model.ddlFinancialYear, new { @class = "form-control" })


                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">Amount(Applicable for State Level)</label>
                            @Html.TextBoxFor(s => s.alloted_amount, new { @class = "form-control" })
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">

                        <div class="col-md-6">
                            <label for="exampleInputName"></label>

                            @if (Model.parent_scheme_id > 0)
                            {
                                <input type="submit" value="Update" class="btn btn-info btn-block" formaction="SechemeAmountAllotment" formmethod="post" style="margin-top:7px;background-color: #e4670b;width: 50%;float: right;" />
                            }
                            else
                            {
                                <input type="submit" value="Save" class="btn btn-info btn-block" style="margin-top:7px; width: 50%;float: right;" />
                            }
                        </div>
                        <div class="col-md-6">
                            <a href=@Url.Action("DeskData","Admin") style="margin-top:7px;width: 50%;float: left;" class="btn btn-info btn-block">Cancel</a>
                        </div>

                    </div>
                </div>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dtdatatable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>District Name</th>
                                <th>Sanctioned Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.lstDistrict != null)
                            {
                                for (int X = 0; X < Model.lstDistrict.Count; X++)
                                {
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(s => s.lstDistrict[X].district_id)
                                            @Model.lstDistrict[X].district_id
                                        </td>
                                        <td>
                                            @Html.HiddenFor(s => s.lstDistrict[X].districtname)
                                            @Model.lstDistrict[X].districtname
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(s => s.lstDistrict[X].allotedmt, new { id = Model.lstDistrict[X].district_id, @class = "form-control" })

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <input type="submit" value="SaveDistrictAllotment" id="DistricrtAmountSave" class="btn btn-info btn-block" style="margin-top:7px; width: 50%;float: right;" formaction="SaveparentSchemeAmt" formmethod="post" />
            </div>
        }
    </div>


</div>


